@font-face {
    font-family: 'dseg7';
    src:  url('../../DSEG7Classic-Regular.woff2') format('woff2'),
          url('../../DSEG7Classic-Regular.woff') format('woff');
}


.dseg7 {
    font-family: dseg7;
    font-size: 22px;
}
